name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'jetbrains'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Generate Kover coverage for Qodana
        run: ./gradlew koverXmlReport

      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2025.2
        with:
          pr-mode: false
          args: --property=idea.coverage.report.xml.path=${{ github.workspace }}/build/reports/kover/report.xml
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_576555964 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
